<div class="flex flex-col items-center gap-4 p-4">
  <div class="card w-80 bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Contador con Signal</h2>
      <p class="text-5xl font-bold">{{ counter() }}</p>
      <div class="card-actions justify-center mt-4">
        <button class="btn btn-outline btn-error" (click)="decrement()">
          -1
        </button>
        <button class="btn btn-primary" (click)="increment()">+1</button>
      </div>
    </div>
  </div>
</div>
