<div class="tabs tabs-lift">
  <ng-container *ngFor="let file of files(); trackBy: trackByFileName">
    <label class="tab">
      <input type="radio" [name]="name()" [checked]="file.defaultIsOpen" />
      {{ file.name }}
    </label>
    <div
      class="tab-content bg-base-100 border-base-300 overflow-x-auto prose prose-sm md:prose-base max-w-none"
    >
      <pre><code [highlight]="file.code" language="html" style="padding: 0px; background: none;"></code></pre>
    </div>
  </ng-container>
</div>
